.card {
    width: 400px;
    height: 500px;
    border-radius: 5px;
    background-color: #343434;

    user-select: none;
    color: white;
    margin: 1rem 10px;
    box-shadow: 0px 8px 8px 0px rgba(30, 30, 30, 0.15);
    position: relative;
    overflow: hidden; 
    border: 1px solid var(--input-border);
    
  }

  .contentContainer{ 
    position: absolute;
    top: 0;
    width:100%;
    z-index:1;
    background-color: #1e1e1e;
    font-size: 1rem;
    font-family: var(--font-montserrat-regular), sans-serif;
    font-weight: 400;
    padding: 8px;
  }

  .imageContainer {
    width: 100%;

    border: 2px solid red;
  }

  .buttons{
    border: 1px solid var(--input-border);
    color: white;
    background: radial-gradient(circle, #992264, transparent 150%);
    border-radius: 8px;
    height: 2rem;
    padding: 0 8px;
  }

  @media (max-width: 700px) { /* Ajusta este tamaño según lo necesites */
    .card {
      width: 100vw;
    }
  }