.createProject{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center; 
  align-items:center;
}

.createProjectContainer{
  width:75%;
  height:75%;
  background:var(--background-gray);
  border: 1px solid var(--input-border);
  border-radius:8px;
  display:flex;
  flex-direction:column;
  overflow: auto;
}

.linksSectionsContainer{
  border-bottom:1px solid var(--input-border);
  width:100%
}

.projectContainer{
  flex: 1;
  position: relative;
  display: flex;
  overflow: auto;
  width: 100%;
}

.sectionProject{
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
}