.newProjectContainer{
  height:75%;
  border-radius:8px;
  overflow: auto;
}

.linksSectionsContainer{
  width:100%;
  margin-bottom: 1rem;
  display: flex;
}

.listProjectsContainer{
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  border: 1px solid var(--input-border);
  border-radius: 8px;
  background-color: rgb(19, 19, 19);
}

.formContainer{
  position:relative;
}

.form{
  display:flex;
  flex-direction: column;
}

.imageFormContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  padding: 1rem;
}

@media (max-width: 1000px) {

  .listProjectsContainer{
    flex-direction: column;
    align-items: center;
    overflow-x: none;
    width: 100%;
  }

  .newProjectContainer{
    width: 100%;
    height: 100%;
  }

  .formContainer{
    width: 100%;
  }

  .imageFormContainer{
    width:100%;
  }

  .form{
    width:100%;
  }

  .imageContainer{
    
  }
}