.projects{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center; 
  align-items:center;
}

.projectsContainer{
  height: 75%;
  width:auto;
  border-radius:8px;
  display:flex;
  flex-direction:column;
}

.linksSectionsContainer{
  width:100%;
}

.listProjectsContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 900px){

  .projectsContainer{
    width:100%;
    height: 90%;
  }

}