.newProjectContainer{
  width:75%;
  height:75%;
  background:var(--background-gray);
  border: 1px solid var(--input-border);
  border-radius:8px;
  display: flex;
  overflow: auto;
}

.formContainer{
  width:100%;
  height: 100%;
  position:relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form{
  display:flex;
  flex-direction: column;
  width:50%;
}

.imageFormContainer{
  width:100%;
  height: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

@media (max-width: 1000px) {
  .newProjectContainer{
    width: 200%;
    height: 100%;
  }

  .formContainer{
    width: 50%;
  }

  .imageFormContainer{
    width:50%;
  }

  .form{
    width:200%;
  }

  .imageContainer{
    padding: 2rem;
  }
}