.newProjectContainer{
  height:75%;
  border-radius:8px;
}

.linksSectionsContainer{
  margin-bottom: 1rem;
}

.listProjectsContainer{
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  border: 1px solid var(--input-border);
  border-radius: 8px;
  background-color: rgb(19, 19, 19);
}

.buttonCreateProjectContainer{
  display: flex;
  flex-direction: column;
}

.formContainer{
  position:relative;
}

.form{
  display:flex;
  flex-direction: column;
}

.imageFormContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  padding: 1rem;
}

.buttonCreateProject{
  background: none;
  color: white;
  border: 2px solid var(--input-border);
  padding: 8px;
  border-radius: 8px;
}

.inputFile{
  width: 100%;
}

.buttonCreateProjectContainer{ 
  display: flex; 
  justify-content: flex-end;
  width: 100% 
}

.buttonCreateProjectContainerMobile{
  display: none;
}

@media (max-width: 1000px) {

  .listProjectsContainer{
    flex-direction: column;
    align-items: center;
    overflow-x: none;
    width: 100%;
  }

  .newProjectContainer{
    height: 75%;
  }

  .formContainer{
    width: 100%;
  }

  .imageFormContainer{
    width:100%;
  }

  .form{
    width:100%;
  }

  .imageContainer{
    
  }

  .buttonCreateProject{

  }

  .buttonCreateProjectContainer{
   
  }

  .buttonCreateProjectContainerMobile{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}