.card {
  width: 400px;          /* Limitar el ancho máximo a 400px */
  height: 500px;
  border-radius: 5px;
  padding: 1rem;
  background-color: #343434;
  display: flex;
  flex-direction: column;
  user-select: none; /* Desactiva la selección de texto */
  color: white;
  margin: 1rem 10px;
  box-shadow: 0px 8px 8px 0px rgba(30, 30, 30, 0.15);
  position: relative; /* Para controlar los elementos con respecto al contenedor */
  overflow: hidden;  /* Oculta la información que se despliega fuera de la card */
}

@media (max-width: 700px) { /* Ajusta este tamaño según lo necesites */
  .card {
    width: 100vw;
  }
}

/* Imagen ocupa todo el contenedor */
.imageContainer {
  width: 100%;
  height: 100%;
  position: absolute;  /* Asegura que la imagen ocupe todo el contenedor */
  top: 0;
  left: 0;
  object-fit: cover;  /* Asegura que la imagen cubra todo el área disponible */
  transition: opacity 0.3s ease;
  z-index: 1; /* La imagen debe estar por debajo de los elementos de información */
}

/* Información de la card inicialmente oculta */
.metadata,
.icons,
.buttonCard {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  opacity: 1;
  color: #ffffff;
  transform: translateY(0);  /* Vuelve a su posición original */
  z-index: 1;
  font-size: 1rem;
  font-family: var(--font-montserrat-bold), sans-serif;
  font-weight: 700;

}

.icons{
  align-items: flex-end;
}

.metadata h3, .icons{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

