.projectContainer{
  width: 400px;
  height: 100%;
  border-top: 1px solid var(--input-border);
  border-bottom: 1px solid var(--input-border);
  display: flex;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 1rem;
  background-color: #141414;
  flex: 0 0 auto;
}

.nameContainer{
  position:absolute; 
  top:0; 
  left:0; 
  width:100%;
  font-size: 1rem;
  font-family: var(--font-montserrat-semi-bold), sans-serif;
  font-weight: 600;
}

.dataContainer{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: var(--font-montserrat-regular), sans-serif;
  font-weight: 400;
}

.infoProjectContainer {
  flex: 15%;
  color: white;
}

.imagesPropertiesContainer {
  flex: 70%;
  overflow: auto;
}

.showContainer {
  flex: 15%;
}

.footer{
  background-color: rgba(0, 0, 0, 0.6);
  height: 10%;
  padding: 4px;
}

@media (max-width: 700px) {
 
}