*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: white;
}

:root {
  --input-border: #88024b;
  --background-gray: #181818;
}

.buttons{
  border: 1px solid var(--input-border);
  color: white;
  background: #992264;
  padding: 8px;
  border-radius: 8px;
}

.buttonsHot{
  border: 2px solid #992264;
  color: white;
  background: #1e1e1e;
  padding: 8px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.changeContentBarContainer{
  position: fixed; 
  left: 0;
  top: 50%;
  z-index: 5; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.changeContentBar{
  background: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px; 
  width: 100%;
  border-radius: 0 8px 8px 0;
}

.bodyContent{
 
}

.textMonserratRegular{
  font-family: var(--font-montserrat-regular), sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

@media (max-width: 700px) {

  .changeContentBarContainer {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
  }

  .changeContentBar{
    bottom:0;
    flex-direction: row;
    border-radius: 0;
  }

  .bodyContent{
    margin-bottom: 3rem;
 }

}

.searchContainer{
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: center;
  top:0;
  z-index: 6;
}

@media (max-width: 700px) {
  .searchContainer {
    position: fixed;
    width: fit-content;
    top: auto;  
    left: auto;    
    bottom: 0;  
    right: 0;   
    z-index: 6; 
    transform: scale(1.2);
    padding: 1rem;
  }
}

.loading {
  width: 250px;
  height: 250px;
  background-image: url('/sprites/social/loadingSocial.png');
  background-position: 0 0;
  background-size: 250px 7500px;
  background-repeat: no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slide 2s steps(30) infinite;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -7500px;
  }
}